@{
    Layout = "~/views/shared/_masterLayout.cshtml";
}

@section Styles{
<link type="text/css" rel="stylesheet" href="~/Contents/css/adminlayout.css" />
   @RenderSection("initalCSS", false)
    }


  <a href="@Url.Action("signout","login")">Welcome @HttpContext.Current.User.Identity.Name signout  </a>


    <div class="container">
        <nav class="navi">
            <div id="menu">
                <ul>
                    <li><a href="#">HOME</a><span class="Darrow">&#9660;</span>
                        <ul class="sub1">
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">HOME</a></li>
                        </ul>
                    </li>
                    <li><a href="#">User Admin</a><span class="Darrow">&#9660;</span>
                        <ul class="sub1">
                            <li><a href="@Url.Action("ListUsers", "ListOfUsers")">List Users</a></li>
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">HOME</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Employee Admin</a><span class="Darrow">&#9660;</span>
                        <ul class="sub1">
                            <li><a href="@Url.Action("index", "AddEmployee")">Add</a></li>
                            <li><a href="@Url.Action("Index", "EmployeesList")">List</a></li>
                            <li><a href="#">HOME</a></li>
                        </ul>
                    </li>
                    <li><a href="#">INBOX-US</a><span class="Darrow">&#9660;</span>
                        <ul class="sub1">

                            <li><a href="#">HOME</a></li>
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">HOME</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
        
    </div>

@RenderSection("BodyPart",false)