@using Domain
@using BusinessLogic 
@model List<User>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListUsers</title>
</head>
<body>
    <form class="form" method="post" action="@Url.Action("UpdatePending","UserAdmin")">
        <table>
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Employee ID</th>
                    <th>####</th>
                    
                </tr>
            </thead>
            <tbody class="table">
                @{
                    foreach (User v in Model)
                    {
                    <tr>
                        <td>
                            <input type="hidden" name="UserId" value="@v.UserName" />
                           <label  > @v.UserName </label> 
                        </td>
                        <td>
                            @v.employe.EmployeeId
                        </td>
                        <td>
                            <input type="hidden" name="status" value="@v.isPendding.ToString()" />
                          <label>@v.isPendding</label>  
                        </td>
                        <td>
                           @{if (v.isPendding)
                               {
                                   <input type="submit" value="Approve" />
                               }
                               else {
                                   <input type="submit" value="Disable" />
                               }
                           }
                        </td>
                    </tr>
                }
                }
            </tbody>
        </table>
    </form>
</body>
</html>
